<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>de.miralem-cebic.launchagent</string>
        <key>LimitLoadToSessionType</key>
        <array>
            <string>LoginWindow</string>
            <string>Aqua</string>
        </array>
        <key>KeepAlive</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
        <key>ProgramArguments</key>
        <array>
            <string>/Library/Application Support/MCC-DistributedNotifications/LaunchAgent-Daemon.app/Contents/MacOS/LaunchAgent-Daemon</string>
        </array>
    </dict>
</plist>
